<% if @products.any? %>

<div class="page-header">
  <h1>Total de produtos vendidos no atacado</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quant. Vendida Atacado</th>
      <th>Quant. Vendida Loja</th>
      <th>Quant. Trocada</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= sum_quantity_sale_by_product_in(@month, @year, product.id) %></td>
        <td><%= sum_quantity_sale_in_store_by_product(@month, @year, product.id) %>
        <td><%= sum_quantity_changed_by_product_in(@month, @year, product.id)%> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <p>Não foi encontrado nenhum registro no mês informado.</p>
<% end %>