<div class="page-header">
  <h1> Estoque da Loja 
    <%= link_to "Adicionar item no estoque", new_stock_path, :class => 'btn btn-primary' %>
  </h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Local</th>
      <th>Quant.</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.product_name %> </td>
        <td><%= stock.local_humanize %> </td>
        <td><%= stock.quantity %> </td>
      </tr>
    <% end %>
  </tbody>
</table>