  <thead>
    <tr>
      <th> Pedido</th>
      <th> Cliente</th>
      <th> Vendedor</th>
      <th> Data Venda</th>
      <th> Total </th>
      <th> Status </th>
      <th> Visualização</th>
    </tr>
  </thead>
  <tbody>
 
  </tbody>
</table>

