<%= form_tag reports_sales_path, :method => :get, :remote => true, class: "form-inline" do %>  
  <div class="form-group hidden-print">
    <label class="sr-only" for="exampleInputEmail2">Vendedor</label>
  
    <%= select_month Date.current, :class => "form-control" %>
    <%= submit_tag 'Pesquisar', class: "btn btn-primary" %>
    
  </div>
<% end %>

<div id="total">
  <%= render :partial => 'total'%>
</div>